@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-image: url('/public/photos/ship.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
    padding: 1rem 4rem;
    z-index: 2;
}

#body-shadow{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
}
.attack-cmd{
    font-size: 2rem;
    color: lightyellow;
    width: 100%;
    padding: 0.8rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.7);
}
.highlight{

    font-weight: 600;
    color: rgb(6, 182, 241);
}


main{
    height: 80vh;
    width: 100%;
    /* background-color: white; */
    margin: 1rem 0;
}

.axis{
    border-radius: 0.5rem 0.5rem 0 0;
    cursor: pointer;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#random{
    align-self: center;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 0.5rem;
    cursor: pointer;
    border-color:skyblue ;
    

}
#random:hover{
    color: white;
    background-color: rgba(0, 0, 0, 0.707);
    border-color: aqua;
}
.main-grid{
    height: 550px;
    width: 550px;
    
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2px;
}
.item-1, .item-2{
    border: 1px solid #534e4e;
    background-color: rgba(0, 0, 0, 0.798);
    cursor: pointer;
}
.item-2:hover{
    background-color: white;
}
.player-identity, .axis{
    margin: 0.5rem 0;
    width: 550px;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.838);
    text-align: center;
    
    font-size: large;
    font-weight: 500;
    
}
.player-identity{
    border-radius: 0 0 0.5rem 0.5rem;
}
dialog{
    height: 300px;
    width: 400px;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    border: none;
    border-radius: 1rem;
}
#box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
dialog::backdrop{
    background: rgb(0 0 0 / 0.6);
}
dialog{
    text-align: center;
    padding: 1rem;
}
#dialog-header{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
#dialog-p{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
#dialog-button{
    padding: 0.5rem 5rem;
    font-size: 1.2rem;
    margin-top: 2rem;
    cursor: pointer;
}
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    padding: 0.5rem 4rem;
    text-align: center;
    cursor: pointer;
}
.selected-cell{
    background-color: rgba(240, 248, 255, 0.754);
}